
$greennColor: { #56B280}
$blackColor: { #272727}
$whiteColor: { #ffffff}

@mixin button {
font-size: 20;
border-radius: 4px;
color: $whiteColor;
}

.l{

}

.s{

}

.greenBtn{

}

.whiteBtn{

}

.greyBtn{
   
}